@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
}

:root {
  --dark_gray: rgb(50, 50, 50);
  --light_blue: rgb(55, 125, 255);
}

.button_1 {
  padding: 20px 30px;
  --b: 3px;
  --s: 0.45em;
  --color: #373b44;
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

.button_1:hover,
.button_1:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button_1:active {
  background: var(--color);
  color: #fff;
}
